{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="background-page">
        <div class="container">
            <div class="flex full-height">
                <div action="" class="form">
                    <div class="center-form">
                        <img src="{{ asset('images/universal-logo-big.png') }}"></img>
                        <h1>Login</h1>
                        <form action="{{ path('dashboard_login') }}"  method="POST" class="log-content">

                            {% if error %}
                                {{ error.messageKey }}
                            {% endif %}

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <input type="email" name="_username" id="username" class="form-control" required placeholder="Email">
                            <div class="password">
                                <input type="password" name="_password" id="password" class="form-control" required placeholder="Password">
                            </div>
                            <input type="submit" id="submit" class="btn btn-primary mx-auto"></input>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
