{% set navbarCheck = app.request.get('_route') != 'dashboard_login' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>
        <div class="users"> 
            {{navbarCheck ? include('views/default/navbar.html.twig')}}
            {% block body %}{% endblock %}
        </div>


        <script src="{{ asset('javascript/script.js') }}"></script>
    </body>
</html>

